@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p class="text-center">
    <h1 class="display-4">Este site ainda não possui política de privacidade...</h1>
</p>
